@import url("./fonts.css");

:root {
  --layout-border-width: 6rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  outline: none;
}

.sprites {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.col-3 {
  width: 25%;
}

.container-header {
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 120px 104px;
}

input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-section {
  position: relative;
  background-image: url("../images/top_section_background.png");
  background-position: 0 -200px;
  background-size: cover;
}

@media (max-width: 1440px) {
  .background-section {
    background-position: left top;
  }
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  fill: #3077c6;
  width: 13em;
  height: 2.5em;
}

.header-right-elements {
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child),
.icons-control svg:not(:last-child) {
  margin-right: 1.5em;
}

.header-link {
  color: #ffff;
  text-decoration: none;
  font-size: 1.5em;
  position: relative;
}

.header-link:after {
  content: "";
  position: absolute;
  width: 90%;
  transform: translateX(-50%);
  left: 50%;
  bottom: -40%;
}

.header-link:hover:after {
  transition-duration: 1s;
  border-bottom: 4px solid #f5bd41;
}

.icons-control {
  display: flex;
  align-items: center;
  margin-left: 3em;
}

.theme-switcher {
  width: 2em;
  height: 2em;
}

.account {
  width: 2.33em;
  height: 2.33em;
}

.btn-icon {
  fill: #ffff;
  cursor: pointer;
}

.account:hover {
  fill: #f5bd41;
}

.hero-section h1 {
  margin-top: 4em;
  color: #ffff;
  font-size: 3em;
}

.booking-search-form {
  font-size: 1.2em;
}

.booking-input-labels {
  color: #ffff;
  display: flex;
  flex-direction: row;
  margin: 5.9em 0 1.3em;
}

.hotel-name-input-label {
  padding-right: 220px;
}

.hero-booking-grid {
  display: grid;
  grid-template-columns: 2fr 1.2fr 1.7fr 1fr;
}

.hero-booking-input {
  border-radius: 0.4em;
  border: 0.15em solid #f3f3f4;
  height: 3.15em;
  padding: 1.5em;
}

.hero-booking-input:focus,
.hero-booking-input:hover {
  outline: none;
  border: 0.15em solid #f5bd41;
}

.hero-booking-grid > *:nth-child(1) {
  position: relative;
  width: 105%;
}

.hero-booking-grid > *:nth-child(2) {
  z-index: 1;
}

.hero-booking-grid > *:nth-child(3) {
  position: relative;
  right: 0.75em;
}

.hero-booking-grid > *:nth-child(4) {
  position: relative;
  right: 25px;
}

.primary-button {
  font-size: 1.3em;
  width: 8em;
  height: 2.6em;
  color: #ffff;
  background-color: #3077c6;
  border-radius: 0.3em;
}

.badges-container {
  display: flex;
  justify-content: center;
}

.badges {
  display: flex;
  margin: 7.5em;
}

.badges img {
  height: 2.5em;
  width: auto;
}

.appsstore-badge {
  display: block;
}

.appsstore-badge:not(:last-child) {
  margin-right: 1.5em;
}

.title-of-block {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #383838;
}

.underlined {
  position: relative;
}

.underlined:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.5em;
  transform: translateX(-50%);
  width: 2.5em;
  height: 0.125em;
  background-color: #f5bd41;
}

.advantages {
  margin-top: 6.5em;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantage-img-icon {
  margin-bottom: 3em;
  height: 5em;
  width: auto;
}

.advantage-name {
  font-size: 1.8em;
}

@media (max-width: 960px) {
  .title-of-block {
    font-size: 2.5em;
  }

  .advantages img {
    height: 5em;
    width: auto;
  }

  .advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .underlined:after {
    display: none;
  }

  .advantages {
    margin-top: 35px;
  }

  .advantage {
    margin-top: 34px;
  }
}

.hotels-examples {
  background-color: #eaf0f9;
  width: 100%;
}

.hotels-example-panel {
  font-size: 24px;
  margin-top: 100px;
}

.hotels-imgs-names img {
  width: 100%;
}

.hotels-imgs-names {
  display: flex;
  position: relative;
}

.hotels-imgs-names > *,
.hotels-locations > * {
  width: 25%;
  padding-right: 16px;
}

.hotel-name {
  color: #3077c6;
  margin-top: 24px;
}

.hotel-location {
  color: #bfbfbf;
  margin-top: 24px;
}

.s-show,
.xs-show {
  display: none;
}

.rel-container {
  position: relative;
  width: 100%;
}

.carousel-arrow {
  border-radius: 100%;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
}

.hotels-example-panel .carousel-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(-90deg);
}

.carousel-container {
  position: relative;
}

@media (max-width: 960px) {
  .container {
    padding: 40px 17px;
  }

  .title-of-block {
    margin-bottom: 30px;
  }

  .hotels-example-panel {
    margin-top: 30px;
  }

  .s-hide {
    display: none;
  }

  .s-show {
    display: block;
  }

  .hotels-imgs-names > *,
  .hotels-locations > * {
    width: 50%;
  }

  .xs-hide {
    padding: 0;
  }

  .resp-hotel-card {
    padding: 0;
    margin-right: 16px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 40px 17px;
  }

  .title-of-block {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .hotels-example-panel {
    font-size: 20px;
  }

  .resp-hotel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
    margin: 0;
  }

  .hotel-location,
  .hotel-name {
    font-size: 25px;
  }

  .xs-hide {
    display: none;
  }

  .xs-show {
    display: block;
  }

  .hotels-imgs-names > *,
  .hotels-locations > * {
    width: 100%;
  }

  .hotels-examples {
    height: auto;
  }
}

@media (max-width: 475px) {
  .title-of-block {
    font-size: 25px;
  }

  .hotel-location,
  .hotel-name {
    font-size: 20px;
  }

  .resp-hotel-card {
    margin: 0;
  }
}

.btns-nav {
  background-color: #f3f3f4;
  border-radius: 8px;
  display: inline-block;
  margin-top: 100px;
}

.btn-nav {
  font-size: 24px;
  color: #383838;
  padding: 17px 52px;
  background: #f3f3f4;
  border: none;
  border-radius: 8px;
}

.btn-nav:focus {
  background: #3077c6;
  color: #ffff;
}

.destinations-panel {
  display: flex;
  margin-top: 65px;
  position: relative;
  width: 100%;
}

.destinations-img {
  width: 100%;
  aspect-ratio: 1/ 1;
}

.destinations-item {
  padding-right: 16px;
  width: 30%;
}

.img-filter {
  position: relative;
}

.shadow-filter {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(56, 56, 56, 0.4);
}

.img-filter:hover .shadow-filter {
  display: block;
}

.destinations-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 13px 24px;
  border-radius: 8px;
  border: 1px solid #3077c6;
  color: #3077c6;
  background-color: #fff;
  font-size: 18px;
  display: none;
}

.destinations-btn:hover {
  background-color: #3077c6;
  color: #fff;
}

.img-filter:hover .destinations-btn {
  display: block;
}

.countries-name {
  font-size: 24px;
  color: #3077c6;
  margin-top: 24px;
}

.arrow-destinations {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.carousel-arrow-down {
  width: 2.7em;
  height: 2.7em;
  border-radius: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 120px;
  transform: rotate(0deg);
}

.destinations-panel .carousel-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(-90deg);
}

.sign-up-block {
  display: flex;
  position: relative;
  background-color: #eaf0f9;
}

.offer {
  color: #383838;
  font-size: 24px;
  padding-top: 50px;
}

.container-sign-btn {
  display: block;
}

.sign-btn {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #3077c6;
  background-color: #ffffff;
  font-size: 18px;
  color: #3077c6;
  margin-top: 20px;
}

.sign-btn:hover {
  background-color: #3077c6;
  color: #fff;
}

.user-icon {
  margin: 57px 24px;
}

.cross-icon {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 26px;
  width: 26px;
}

@media (max-width: 960px) {
  .container {
    padding: 40px 28px;
  }

  .title-of-block {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .destinations-panel {
    margin-top: 24px;
  }

  .btns-nav {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .btn-nav {
    padding: 5px 15px;
    font-size: 19px;
    margin-right: 16px;
    background-color: #ffffff;
    border: 1px solid #f3f3f4;
    border-radius: 4px;
  }

  .destinations-item {
    padding-right: 16px;
    width: 100%;
  }

  .carousel-arrow-down {
    display: none;
  }

  .destinations-btn {
    padding: 13px 20px;
  }

  .countries-name {
    text-align: center;
  }

  .sign-up-block {
    display: none;
  }
}

@media (max-width: 500px) {
  .destinations-item {
    padding-right: 0;
  }
}

@media (max-width: 1100px) {
  .destinations-btn {
    padding: 13px 20px;
  }
}

.resp-title-of-block{
  display: none;
}

.feedback-panel {
  margin-top: 104px;
  display: flex;
  position: relative;
}

.feedback-item {
  margin-right: 16px;
  background-color: #eaf0f9;
  flex: 1;
}

.review-img {
  display: block;
  width: 30%;
}

.feedback-panel .carousel-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(-90deg);
}

.shadow-filter-price {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 1px;
  background-color: rgba(56, 56, 56, 0.4);
}

.price {
  position: absolute;
  top: 16px;
  left: 24px;
  font-size: 18px;
  color: #ffffff;
}

.review-panel {
  color: #3077c6;
  font-size: 18px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.feedback-hotel-location {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.rating {
  height: 32px;
  width: 48px;
  border-radius: 8px;
  background-color: #10367c;
  color: #ffffff;
  padding: 5px 11px;
  font-size: 18px;
  margin-bottom: 8px;
}

.rating-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.rating-group > span {
  color: #bfbfbf;
  text-align: end;
}

.feedback-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.feedback-user-card {
  display: flex;
}

.carousel-dots{
  display: none;
}

.carousel-dot{
  width: 8px;
  height: 8px;
  border: 1px solid #333333;
  margin-right: 8px;
  border-radius: 8px;
}

.user-icon-guests-review {
  padding-top: 5px;
  margin-left: 30px;
  height: 100%;
  transform: scale(1.2);
}

.username {
  font-size: 18px;
  color: #383838;
  margin: 13px 0 8px 20px;
}

.review-country {
  font-size: 18px;
  color: #bfbfbf;
  margin-left: 20px;
}

.feedback-user {
  color: #383838;
  font-size: 18px;
  margin: 24px 24px 65px 24px;
}

.app-advertising{
  display: none;
}


@media (max-width: 960px) {
  .container {
    padding: 40px 17px;
  }

  .guests-review {
    background-color: #eaf0f9;
  }

  .review-img{
    width: 100%;
  }

  .feedback-panel {
    margin-top: 30px;
  }

  .feedback-item{
    margin-right: 16px;
  }

  .feedback-item-2{
    display: none;
  }

  .shadow-filter-price {
    display: none;
  }
}

@media (max-width: 600px) {
  .feedback-item-3{
    display: none;
  }

  .title-of-block-resp{
    display: none;
  }

  .resp-title-of-block {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #383838;
    display: block;
  }

  .carousel-dots{
    display: flex;
    justify-content: center;
  }

  .carousel-dot:hover{
  background-color: #383838;
  }

  .carousel-dot{
    width: 8px;
    height: 8px;
    border: 1px solid #333333;
    margin-right: 8px;
    border-radius: 8px;
  }

  .app-advertising{
    bottom: 0;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    left: 0;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px 0;
    color: #383838;
    font-size: 18px;
  }

  .inst-app{
    color: #3077c6;
    font-size: 20px;
  }

}

@media (max-width: 1050px) {
  .feedback-hotel-location p:first-child{
    margin-bottom: 5px;
  }
}

.footer {
  width: 100%;
  background-color: #10367c;
  color: #ffff;
  font-size: 20px;
}

.container-f > .column {
  flex: 1;
}

ul.column {
  list-style: none;
  padding: 0;
}

.column ul {
  width: 100%;
}

.column > li {
  margin-bottom: 24px;
}

.column-title {
  /*to do font-weight 500*/
  font-weight: 600;
}

.column-list {
  display: flex;
  flex-direction: column;
}

.container-f {
  display: flex;
}

.footer-link {
  text-decoration: none;
  color: #ffff;
}

.column-title {
  padding-bottom: 16px;
}

#copyright {
  margin-top: 64px;
}

.footer-logo {
  display: none;
  width: 40%;
}

@media (max-width: 900px) {
  body {
    font-size: 15px;
  }

  .column-list {
    display: none;
  }

  .column-title {
    padding-right: 16px;
  }

  .title-resp {
    padding-right: 0;
  }

  .footer > .column {
    width: 100%;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
  }

  .footer-link {
    text-align: center;
    text-decoration: underline;
  }

  .footer-logo-container {
    display: flex;
    justify-content: center;
  }

  .footer-logo {
    display: block;
    margin: 40px;
  }

  #copyright {
    text-align: center;
    margin-top: 30px;
  }
}
