@import url("./fonts.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.sprites {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.web-site-layout {
  position: relative;
  width: 100%;
  padding: 0 104px;
}

.hero-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/top_section_background.png");
  background-size: cover;
  background-position: 0 -200px;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1440px) {
  .background-section {
    background-position: left top;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 51px 0;
}

.logo {
  fill: #3077c6;
  width: 205px;
  height: 40px;
}

.header-right-elements {
  display: flex;
  align-items: center;
}

nav span:not(:last-child),
.icons-control svg:not(:last-child) {
  margin-right: 24px;
}

.header-link {
  color: #ffff;
  text-decoration: none;
  font-size: 1.5em;
}

.header-link:hover {
  border-bottom: 4px solid #f5bd41;
  padding-bottom: 12px;
}

.icons-control {
  display: flex;
  align-items: center;
  margin-left: 48px;
}

.theme-switcher {
  fill: #ffff;
  width: 30px;
  height: 30px;
}

.account {
  width: 40px;
  height: 40px;
  fill: #ffff;
}

.account:hover {
  fill: #f5bd41;
}

h1 {
  color: #ffff;
  font-size: 3em;
  font-weight: 600;
  display: flex;
  margin-top: 200px;
}

.booking-input-labels {
  color: #ffff;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 24px;
}

.hotel-name-input-label {
  padding-right: 220px;
}

.hero-booking-grid {
  display: grid;
  grid-template-columns: 2fr 1.2fr 1.5fr 1fr;
}

.hero-booking-input {
  font-size: 1.2em;
  border-radius: 8px;
  border: 3px solid #f3f3f4;
  width: 100%;
  height: 64px;
  padding: 22px 24px;
}

.hero-booking-input:focus,
.hero-booking-input:hover {
  outline: none;
  border: 3px solid #f5bd41;
}

.hero-booking-grid > *:nth-child(1) {
  position: relative;
  width: 105%;
}

.hero-booking-grid > *:nth-child(2) {
  z-index: 1;
}

.hero-booking-grid > *:nth-child(3) {
  position: relative;
  right: 12px;
}

.hero-booking-grid > *:nth-child(4) {
  position: relative;
  right: 25px;
}

.header-button {
  width: 192px;
  height: 65px;
  font-size: 1.5em;
  color: #ffff;
  background-color: #3077c6;
  border-radius: 8px;
}

.badges-flex-container {
  display: flex;
  justify-content: center;
}

.badges {
  margin: 120px 120px;
}

.google-apple-badge {
  margin-right: 24px;
  text-decoration: none;
  height: 40px;
}

.google-play {
  width: 130px;
  transform: scale(1.05);
}

.apple-store {
  width: 120px;
}

.what-do-we-offer {
  margin-bottom: 120px;
}

.heading_line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 120px;
  text-align: center;
  color: #383838;
}

.line {
  margin-top: 20px;
  width: 100px;
  height: 4px;
  border: 0;
  background-color: #f5bd41;
}

.images {
  margin-top: 4.5em;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-3 {
  width: 25%;
}

.img_icon {
  margin-bottom: 2.5em;
  height: 4.5em;
}

.text {
  font-size: 1.8em;
  font-weight: normal;
}

@media (max-width: 960px) {
  .heading {
    font-size: 2.5em;
    margin-top: 24px;
  }

  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    display: none;
  }

  .images {
    margin-top: 35px;
  }

  .icon {
    margin-top: 34px;
  }
}

.homes-guests-loves {
  background-color: #eaf0f9;
  width: 100%;
  height: 828px;
}

.title-of-the-homes-block {
  font-size: 2.5em;
  color: #383838;
  font-weight: 600;
  text-align: center;
  padding: 120px 0 100px 0;
}

.hotels-example-panel {
  font-size: 1.6em;
  margin: 0 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotels-name {
  color: #3077c6;
  display: block;
  margin: 1.5rem 0;
}

.hotels-location {
  color: #bfbfbf;
}

.carousel-container {
  position: relative;
}

.carousel-arrow {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f3f3f4;
  border-radius: 100%;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hotels-example-panel .carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-arrow:before {
  content: "";
  background: url(../images/arrow.svg) no-repeat center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.carousel-arrow {
  border: none;
  cursor: pointer;
}

button.carousel-arrow:active {
  outline: none;
  box-sizing: border-box;
  border: 1px solid;
}

@media (max-width: 900px) {
  .col-3 {
    width: 100%;
  }

  .hotel-card-responsive {
    width: 8em;
    height: 8em;
  }

  .hotels-example-panel {
    display: flex;
    flex-direction: row;
  }

  .hide-responsive {
    display: none;
  }
}

.footer {
  width: 100%;
  background-color: #10367c;
  color: #ffff;
  padding: 120px 104px;
  font-size: 1.5em;
}

.container > .column {
  flex: 1;
}

ul.column {
  list-style: none;
  padding: 0;
}

.column ul {
  width: 100%;
}

.column > li {
  margin-bottom: 1em;
}

.column-title {
  /*to do font-weight 500*/
  font-weight: 600;
}

.column-list {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.footer-link {
  text-decoration: none;
  color: #ffff;
}

.column-title {
  padding-bottom: 1em;
}

#copyright {
  margin-top: 64px;
}

.footer-logo {
  display: none;
  width: 40%;
}

@media (max-width: 900px) {
  body {
    font-size: 2.5vw;
  }

  .column-list {
    display: none;
  }

  .footer > .column {
    width: 100%;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
  }

  .footer-link {
    text-align: center;
    text-decoration: underline;
  }

  .footer-logo {
    display: block;
    margin: 3em;
  }

  #copyright {
    text-align: center;
  }
}

@media (min-width: 2500px) {
  body {
    font-size: 1vw;
  }
}
